@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.alert {
    font-size: 1.5em;
    /* Bigger font size */
    font-weight: bold;
    /* Bolder font */
    animation: fadeIn 0.5s ease-out, fadeOut 2s ease-out 1.5s;
}

.alert-success {
    color: green;
}

.alert-error {
    color: #8B0000;
    /* Blood red color */
}

.alert-fade-out {
    opacity: 0;
}